/* contact section css */
.content-section {
    width: 88%;
    position: absolute;
    border-top: 1px solid #EAEAEA;
    background-color: #FFFFFF;
    left: 191.95px;
    top: 99.84px;
    height: 78%;
    padding: 0px 40px;
    /* display: flex; */
    /* align-items: center; */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12%;
}

.leftside {
    display: flex;
    gap: 10px;
}

.nav-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.rightside {
    display: flex;
    gap: 10px;
}

.leftnavbtn {
    width: 140px;
    height: 40px;
    border: none;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
    /* padding: 5px 10px; */
    background-color: #FFFFFF;
}

.rightnavbtn {
    width: 120px;
    height: 40px;
    border: none;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
    /* padding: 5px 10px; */
    background-color: #FFFFFF;
}

.fontSize {
    font-size: 16px;
}

/* delete ui css */
.modal-del {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-del {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 10px;
    width: 345px;
    height: 240px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: 0;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: 0;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header-del {
    background-color: #5cb85c;
    color: white;
}

.modal-body-del {
    width: 100%;
    height: 50%;
    margin-top: 28px;

}

.modal-footer-del {
    color: white;
    height: 50%;
    display: flex;
    justify-content: center;
    gap: 20px;

}

.delete {
    width: 100%;
    height: 100%;
}

.header-del {
    font-size: 24px;
}

.docdiv-del {
    height: 47.84px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.doc-icon-del {
    height: 40%;
    background: rgba(45, 165, 252, 0.5);
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.deleteHead {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteMsg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #2DA5FC;
    font-size: 18px;
    height: 54px;
    margin: 4px 0px;
}

.deleteCancel {
    border: none;
    background-color: #2DA5FC !important;
    color: white;
    border-radius: 5px;
    height: 34px;
    width: 124px;
    cursor: pointer;
    margin: 30px 0px;
    font-size: 20px;
}

.delete-icon {
    height: 43.84px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fonticon-del {
    width: 14px;
    height: 20px;
    cursor: pointer;
}

.deleteOk {
    border: none;
    color: #1F2633;
    font-weight: 600;
    height: 37px;
    width: 28px;
    cursor: pointer;
    margin: 30px 0px;
    font-size: 24px;
}

.modal-body-del-complete {
    width: 100%;
    height: 100%;
    margin-top: 75px;
}

.deleteHeadComplete {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

/* import ui css */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content-imp {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 10px;
    width: 345px;
    height: 318px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-header {
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    width: 100%;
    height: 50%;
    margin-top: 45px;
}

.modal-footer {
    color: white;
    height: 50%;
    display: flex;
    justify-content: center;
}

.import {
    width: 100%;
    height: 100%;
}

.header {
    font-size: 24px;
}

.docdiv {
    height: 47.84px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.doc-icon {
    height: 40%;
    background: rgba(45, 165, 252, 0.5);
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.importHead {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drag-drop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #2DA5FC;
    font-size: 20px;
    height: 54px;
    margin: 10px 0px;
}

.importCancel {
    border: none;
    background-color: #2DA5FC !important;
    color: white;
    border-radius: 5px;
    height: 34px;
    width: 124px;
    cursor: pointer;
    margin: 30px 0px;
    font-size: 20px;
}

.upload {
    height: 43.84px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fonticon {
    width: 14px;
    height: 20px;
    cursor: pointer;
}

.modal-body-complete {
    width: 100%;
    height: 100%;
    margin-top: 75px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: left;
    padding: 8px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    color: #38322C;
    opacity: 0.8;
}

td {
    text-align: left;
    padding: 12px 8px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    /* line-height: 27px; */
    color: #000000;
    opacity: 0.8;
}

tr:nth-child(odd) {
    background-color: rgba(178, 223, 255, 0.31);
}

.paginationbutton {
    position: absolute;
    height: 40px;
    list-style: none;
    display: flex;
    top: 780px;
    left: 1450px;
}

.paginationbutton a {
    cursor: pointer;
    margin-left: 8px;
    margin-right: 8px;
}

.paginationActive {
    color: #2DA5FC;
    opacity: 1;
}

.previousbutton,
.nextbutton {
    color: black;
    opacity: 1;
}

.paginationDisabled {
    opacity: 0.5;

}

.displaytootip {
    background: white;
    color: #2DA5FC;
    margin: -13px;
    padding: 5px;
    font-size: 18px;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;

}

.displaytootip::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: white;
    transform: translateX(110px) translateY(-10px) rotate(45deg);
}

.action-btns{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}